{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<!-- <h1>Index Page</h1> -->

<div style="display: flex; flex-wrap: wrap; gap: 20px">
  {% for meal in meals %}
  <div class="card" style="width: 18rem">
    <img
      src="{{ meal.strMealThumb }}"
      class="card-img-top"
      alt="{{ meal.strMeal }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ meal.strMeal }}</h5>
      <p class="card-text">Meal ID: {{ meal.idMeal }}</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
