/* external css example */

body {
  background-color:white;
  /* font-family: "Playwrite CU", cursive; */
  /* font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
  .roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
  }

  .roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
  }

  .roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
  }

  .roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
  }

  .roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
  }

  .roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
  }

  .roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
  }

  .roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
  }
}
.title {
  color: rgb(red, green, blue);
  background: linear-gradient(to right, red, orange, green);
  font-size: 60px;
  font-weight: 400px;
  font-style: italic;
  text-align: center;
  font-weight: 100;
}

.description {
  color: gray;
  line-height: 1.5em;
}

#my_description {
  color: blueviolet;
}

p {
  color: burlywood;
}

.box {
  width: 200px;
  height: 150px;
  border: 1px solid black;
  margin: 5px;
  font-size: 25px;
}

/* we have center alligned the boxes and it takes all the width of the screen. 
we can also allign them vertically and horizontally.  */
.container{
  display: flex;
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  justify-content: center;
  gap: 10px;
  flex-direction: row-reverse;
  height: 100vh;
  align-items: center;

  /* we will use flex wrap for smooth transitioning of the box sizes regardless of the screen size. */
  flex-wrap: wrap;
}

.box1{
  background-color: red;
  /* position:absolute;
  z-index: -1; */
}

.box2{
  background-color: green;
  /* position: fixed; */
}

.box3{
  background-color: blue;
}

.green{
  background-color: green;
  height: 250px;
  margin: 50px;
  width: 450px;
  position: relative;
}

.red{
  background-color: red;
  height: 130px;
  margin: 50px;
  width: 130px;
  border-radius: 100px;
  position: absolute;
  top: 5%;
  left: 25%;
}
 