{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Update Profile</title>
{% endblock %}

{% block content %}
<div>
    
</div>
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card border-0 shadow-sm rounded-4">
        <div class="card-body p-4">

          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}

            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary btn-lg rounded-pill">
                Update
              </button>
              <a href="{% url 'changePassword' %}">Change Password</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block toast %}
{% if messages %}
<div class="container mt-3">
  {% for msg in messages %}
  <div class="alert alert-{{ msg.tags }} alert-dismissible fade show" role="alert">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
