{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 
{% block title %}
<title>Update User Data</title>
{% endblock %} 
{% block content %}
{% if messages %}
{% for msg in messages %}
<div class="alert alert-{{ msg.tags }} alert-dismissible fade show" role="alert" style="width: 50%; margin:auto">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<form action="" method="post" style="width: 50%; margin: auto" novalidate>
{% csrf_token %} 
<!-- {{ form|crispy }} -->
{% for f in form %}
{{ f.label_tag }} 
{{ f }} 
{% if f.errors %}
{{ f.errors }}
{% endif %}
{% endfor %}
<br/>
<button class="btn btn-primary" type="submit">Submit</button>
<br/>
<!-- <b><small>Already have an account? <a href="{% url 'login' %}">Login</a></small></b> -->
</form>
{% endblock %}
