<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is session project</h1>
    <h1>Session is getting .....</h1>
    <p>name: {{ data.name }}</p>
    <h3>Session Data</h3>
    <ul>
      {% for key, value in data.items %}
      <li><strong>{{ key }}</strong>: {{ value }}</li>
      {% empty %}
      <li>No session data found.</li>
      {% endfor %}
    </ul>
  </body>
</html>
